<!-- <form action="https://www.sandbox.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="business" value="RJKV37ERBUVGS" />
    <input type="hidden" name="amount" value="50" />
    <input type="hidden" name="no_recurring" value="0" />
    <input type="hidden" name="item_name" value="the gymmmmm" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="image" src="https://pics-v2.sandbox.paypal.com/00/s/MDgzOTlhZjktZTE1Yy00OGIyLThiNzctNWRhNDk4MTVhOTg0/file.PNG" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form> -->

    <!DOCTYPE html>

    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    </head>
    
    <body>
        <div id="paypal-donate-button-container"></div>

        <script>
            
         PayPal.Donation.Button({
             env: 'sandbox',
            //  hosted_button_id: 'YOUR_SANDBOX_HOSTED_BUTTON_ID',
            business: 'RJKV37ERBUVGS',
            amount: '500',
            no_recurring: '0',
            item_name: 'the gymmmmm',
            currency_code: 'USD',
            image: {
                 src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                 title: 'PayPal - The safer, easier way to pay online!',
                 alt: 'Donate with PayPal button'
             },
             onComplete: function (params) {
                 // Your onComplete handler
             },
         }).render('#paypal-donate-button-container');
      </script>

    </body>